<!DOCTYPE html>
<html lang="en">
<head runat = 'server'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/main.css">
    <title>手術室排程系統</title>
</head>
<body onload="get_time()">
    <header>
        <form action="" method="post">
            <label>查詢日期&ensp;<input type="date" id="date" name="date"></label>
            <input type = 'submit' value="提交">&ensp;
        </form>

        <span>日期:</span>

        <span style= "background:rgb(255, 247, 0)">等待更新時間......
        </span>

        

        &ensp;
        <span style= "background:rgb(106, 255, 0)">總人數：0 已開刀：0 常規刀尚有：0 急刀尚有：0</span>
        <span style="float:right" class="user">使用者：<%= username %> </span>
        <button type="button" style="float:right" id="avTime">手術平均時間</button>&ensp;
         
    </header>
    <main>
        <div class="calendar-container">
            
            <div class="header">
                <ul class="operation-room">
                    <% for(let i = 0; i < room.length; i++) { %>
                        <li><%= room[i] %>房</li>
                    <% }; %>
                </ul>
            </div>
    
            <div class="timeslots-container">
                <ul class="timeslots">
                    <li>00:00</li>
                    <li>01:00</li>
                    <li>02:00</li>
                    <li>03:00</li>
                    <li>04:00</li>
                    <li>05:00</li>
                    <li>06:00</li>
                    <li>07:00</li>
                    <li>08:00</li>
                    <li>09:00</li>
                    <li>10:00</li>
                    <li>11:00</li>
                    <li>12:00</li>
                    <li>13:00</li>
                    <li>14:00</li>
                    <li>15:00</li>
                    <li>16:00</li>
                    <li>17:00</li>
                    <li>18:00</li>
                    <li>19:00</li>
                    <li>20:00</li>
                    <li>21:00</li>
                    <li>22:00</li>
                    <li>23:00</li>
                </ul>
            </div>
            <div class="timeline">
                <hr id="timeline" color="crimson">
            </div>
        
            <div class="event-container">
            
            </div>

            <dialog id="poptime">
                <label>
                    手術日期:
                    <input class="avMonth" type="month">
                </label>
                <br>
                <br>
                <center>
                    <button id="avDownload">下載</button>
                    <button id="avClose">取消</button>
                </center>
            </dialog>

        </div>
        

       
    </main>
</body>
</html>

<script src="https://code.jquery.com/jquery-latest.js"></script>

<script>

    operationAve();

    function place_hr(y_pos){
        var d = document.getElementById('timeline');
        d.style.position = "absolute";
        d.style.top = y_pos+'px';
    }

    function get_time(){
        var date = new Date();
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var y = 84.6+hours*120+minutes*2;
        place_hr(y);
        setTimeout("get_time()",1000);
    }

    //手術平均時間
    let poptime = document.getElementById("popup");

    function operationAve() {
        let avTime = document.querySelector('#avTime');
        let poptime = document.querySelector('#poptime');
        let avClose = document.querySelector('#avClose');
        let avDownload = document.querySelector('#avDownload');

        avTime.addEventListener('click', () => {
            poptime.showModal();
        });

        avClose.addEventListener('click', () => {
            poptime.close();
        });

        avDownload.addEventListener('click', () => {
            let avMonth = document.querySelector('.avMonth');

            $.ajax({
                type: 'POST',
                url: 'http://localhost:3000/schedule/operation/opavg',
                dataType: 'json',
                data: {
                    month: `${avMonth.value}`
                },
                success: (res) => {
                    let fileName = 'operationAvg.csv';
                    let data = '手術日期,病歷號,JT主手術碼,主手術名稱,手術別,午別,房間,床號,成本中心,科別名稱,主刀醫生,預計手術開始時間,逾時否,到達等候室時間,進手術室時間,麻醉開始時間,TIME OUT時間,麻醉結束時間,出手術室時間,預計手術時間(分),手術時間(分)';
                    
                    for(let i = 0; i < res['or_date'].length; i++) {
                        data = data + '\n' + res['or_date'][i] + ',' + res['chart_no'][i] + ',' + `"${res['or_name'][i]}"` + ',' + `"${res['or_name'][i]}"` + ',' + 
                        res['or_type_2'][i]+ ',' + res['or_apn'][i] + ',' + res['or_room_no'][i]+ ',' + res['bed_no'][i] + ',' + res['div_no'][i] + ',' +
                        res['or_div_no'][i] + ',' + res['or_doctor_no'][i] + ',' + res['expect_or_start_time'][i] + ',' + res['overtime_yes_no'][i] + ',' + 
                        res['or_in_wait_time'][i] + ','  + res['or_in_time'][i] + ',' + res['an_start_time'][i] + ',' + res['timeout'][i] + ',' +
                        res['an_end_time'][i] + ',' + res['or_out_time'][i] + ',' + res['duration'][i] + ',' + res['actual_duration'][i];
                    }

                    let blob = new Blob([data], {
                        type: 'application/octet-stream;charset="ANSI"'
                    });
                    let href = URL.createObjectURL(blob);
                    let link = document.createElement('a');
                    document.body.appendChild(link);
                    link.href = href;
                    link.download = fileName;
                    link.click();
                }
            });
        })
    

}
</script>
