<!DOCTYPE html>
<html lang="en">
<head runat = 'server'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/schedule.css">   
    <title>手術室排程系統</title>
</head>
<body>
    <header>
        <form action="" method="post">
            <label>查詢日期&ensp;<input type="date" id="date" name="date"></label>
            <input type = 'submit' value="提交">&ensp;
        </form>
        <span style= "background:rgb(255, 247, 0)">等待更新時間......
            <span id="update" runat = "server"></span>
        </span>
        &ensp;
        <span style= "background:rgb(106, 255, 0)">總人數：0 已開刀：0 常規刀尚有：0 急刀尚有：0</span>
        <button type="button">手術平均時間</button>
        <span style="float:right" class="user">使用者：<%= username%> </span> 
    
    </header>
    <main>
        <section class="time">
            <div class="container">
                <div class="time">
                    <div class="time1">
                        00:00
                    </div>
                    <div class="time2">
                        01:00 02:00 03:00 04:00 05:00 06:00 07:00 08:00 
                        09:00 10:00 11:00 12:00 13:00 14:00 15:00 16:00 17:00 
                        18:00 19:00 20:00 21:00 22:00 23:00
                    </div>
                </div>
                <table class="timeline">
                    <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
                    <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
                    <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
                    <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
                    <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
                    <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
                    <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
                    <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
                    <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
                    <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
                    <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>                                         
                </table>
            </div>
        </section>
        <section class="room" style ="overflow-x:auto;">
            <table>
                <tr>
                    <% for(let i = 0; i < room.length; i++) { %>
                    <th><%= room[i] %>號房</th>
                    <% } %>
                </tr>
                <tr>
                    <td class="schedule_table">
                        
                    </td>
                    <td class="schedule_table">

                    </td>
                    <td class="schedule_table">

                    </td>
                    <td class="schedule_table">

                    </td>
                    <td class="schedule_table">

                    </td>
                    <td class="schedule_table">

                    </td>
                    <td class="schedule_table">

                    </td>
                    <td class="schedule_table">

                    </td>
                    <td class="schedule_table">

                    </td>
                    <td class="schedule_table">

                    </td>
                    <td class="schedule_table">

                    </td>
                    <td class="schedule_table">

                    </td>
                </tr>
            </table>
        </section>
    </main>

</body>
</html>