header{
    margin: 10px 5px 10px;
}

header form {
    display: inline-block;
}

header button {
    margin: 10px 1px 10px 540px;
}

.user {
    margin-top: 10px;
}
main{
    display: flex;
}

.room {
    margin-left: 100px;
}

table{
    border-collapse: collapse;
    empty-cells:  show;
    table-layout: auto;
    margin-left: auto;
    width: 1400px;
}

th{
    border: 1px solid #000000;
    background-color: #808080;
    height: 45px;

}

.schedule_table{
    border: 1px solid #000000;
    background-color:#ffffff;
    width: 100px;;
    height:3780px;
  }
.btn{
    background: #fff;
    border: 1;
    text-align: left;
    width: auto;
    height: auto;
    border-radius: 6px;
    margin: 10px 0.1px 3000px;
}
.popup{
    border: 1px solid #000000 ;
    width: 700px;
    background: rgb(199, 199, 199);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.popup button{
    width: 50%;
    margin-top: 50px;
    padding: 10px 0;
    background: #fff;
    color: #000000;
    border: 1;
    outline: none;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
}
.detail td,tr {
    border: 1px solid #000000;
}
.detail,.surgery{
    border: 1px solid ;
    background-color: #fff;
    width: 700px;
}