header{
    margin: 10px 5px 10px;
}

header form {
    display: inline-block;
}

header button {
    margin: 10px 1px 10px 580px;
}

.user {
    margin-top: 10px;
}
main{
    display: flex;
}

.room {
    margin-left: 100px;
}

table{
    border-collapse: collapse;
    empty-cells:  show;
    table-layout: auto;
    margin-left: auto;
    width: 1400px;
}

th{
    border: 1px solid #000000;
    background-color: #808080;
    height: 45px;

}

td{
    border: 1px solid #000000;
    background-color:#ffffff;
    width: 100px;;
    height:630px;
  }
