* {
  margin-left: 5px;
}
table.timeline {
  margin-top: 45px;
  background-color:rgba(186, 244, 178, 0.584);
  padding-right: 0%;
  width: 30px;
  height: 25px;
}

table.timeline td {
  border-top: 1px solid #444444;
  height: 25px;
}

.container{
  display: flex; 
  flex-direction: row;
}

.time {
  display: inline-block;
}

.time1 {
  color: #585858;
  margin-top: 37px;
  margin-bottom: 80px;
}

.time2 {
  color: #585858;
  overflow-wrap: normal;
  width: 40px;
  height: 3780px;
  line-height: 177.6px;
  
}